LuxuryApp/WebContent/wsdl/Couponbook.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://model" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://model" xmlns:intf="http://model" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://model" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getName">
    <complexType/>
   </element>
   <element name="getNameResponse">
    <complexType>
     <sequence>
      <element name="getNameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getId">
    <complexType/>
   </element>
   <element name="getIdResponse">
    <complexType>
     <sequence>
      <element name="getIdReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setName">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setNameResponse">
    <complexType/>
   </element>
   <element name="setDescription">
    <complexType>
     <sequence>
      <element name="description" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setDescriptionResponse">
    <complexType/>
   </element>
   <element name="getDescription">
    <complexType/>
   </element>
   <element name="getDescriptionResponse">
    <complexType>
     <sequence>
      <element name="getDescriptionReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setId">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setIdResponse">
    <complexType/>
   </element>
   <element name="setAdditional">
    <complexType>
     <sequence>
      <element name="additional" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setAdditionalResponse">
    <complexType/>
   </element>
   <element name="getAdditional">
    <complexType/>
   </element>
   <element name="getAdditionalResponse">
    <complexType>
     <sequence>
      <element name="getAdditionalReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getIdRequest">

      <wsdl:part element="impl:getId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setNameResponse">

      <wsdl:part element="impl:setNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNameResponse">

      <wsdl:part element="impl:getNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDescriptionResponse">

      <wsdl:part element="impl:getDescriptionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setAdditionalResponse">

      <wsdl:part element="impl:setAdditionalResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDescriptionRequest">

      <wsdl:part element="impl:getDescription" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setIdResponse">

      <wsdl:part element="impl:setIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setDescriptionRequest">

      <wsdl:part element="impl:setDescription" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAdditionalRequest">

      <wsdl:part element="impl:getAdditional" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setAdditionalRequest">

      <wsdl:part element="impl:setAdditional" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setNameRequest">

      <wsdl:part element="impl:setName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNameRequest">

      <wsdl:part element="impl:getName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getIdResponse">

      <wsdl:part element="impl:getIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setDescriptionResponse">

      <wsdl:part element="impl:setDescriptionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setIdRequest">

      <wsdl:part element="impl:setId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAdditionalResponse">

      <wsdl:part element="impl:getAdditionalResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Couponbook">

      <wsdl:operation name="getName">

         <wsdl:input message="impl:getNameRequest" name="getNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:getNameResponse" name="getNameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getId">

         <wsdl:input message="impl:getIdRequest" name="getIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getIdResponse" name="getIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setName">

         <wsdl:input message="impl:setNameRequest" name="setNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:setNameResponse" name="setNameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setDescription">

         <wsdl:input message="impl:setDescriptionRequest" name="setDescriptionRequest">

       </wsdl:input>

         <wsdl:output message="impl:setDescriptionResponse" name="setDescriptionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDescription">

         <wsdl:input message="impl:getDescriptionRequest" name="getDescriptionRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDescriptionResponse" name="getDescriptionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setId">

         <wsdl:input message="impl:setIdRequest" name="setIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:setIdResponse" name="setIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setAdditional">

         <wsdl:input message="impl:setAdditionalRequest" name="setAdditionalRequest">

       </wsdl:input>

         <wsdl:output message="impl:setAdditionalResponse" name="setAdditionalResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAdditional">

         <wsdl:input message="impl:getAdditionalRequest" name="getAdditionalRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAdditionalResponse" name="getAdditionalResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CouponbookSoapBinding" type="impl:Couponbook">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setDescription">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setDescriptionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setDescriptionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDescription">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDescriptionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDescriptionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setAdditional">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setAdditionalRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setAdditionalResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAdditional">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAdditionalRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAdditionalResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CouponbookService">

      <wsdl:port binding="impl:CouponbookSoapBinding" name="Couponbook">

         <wsdlsoap:address location="http://localhost:8080/LuxuryApp/services/Couponbook"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
